.Tools {
  margin-bottom: 60px;
}
.Tools img {
}
.Tools .tool-name {
  color: var(--light);
}
.Tools .single {
  margin-bottom: -30px;
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
}
.Tools .row-1 {
  margin-left: 20px;
}

.Tools .single:hover {
  background: var(--light-dark);
  color: var(--orange);
}
.Tools .value {
  border-radius: 12px;
  border: 1px solid var(--orange);
  margin: 2px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50px;
  transition: all 0.5s ease;
}
.Tools .value:hover {
  background-color: var(--orange);
}
