.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.ai {
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
}
.ai:hover {
  background-color: rgb(212, 212, 212);
  border-radius: 50px;
  transition: all 0.75s ease-in-out;
  bottom: 40px;
}
