@font-face {
  font-family: "Aldrich";
  src: url("./assets/fonts/Aldrich/Aldrich-Regular.ttf");
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree/static/Figtree-Light.ttf");
}

body {
  background-color: #1e1e24;
}
