@font-face {
  font-family: "Aldrich";
  src: url("./assets/fonts/Aldrich/Aldrich-Regular.ttf");
}
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree/static/Figtree-Light.ttf");
}

:root {
  --dark: #2f2f38;
  --light: #fff8f0;
  --figtree: "Figtree";
  --Aldrich: "Aldrich";
  --light-dark: #42424d;
  --orange: #e4572e;
}

body {
  background-color: #1d1d1d;
  overflow-x: hidden;
  font-family: var(--figtree);
}

img {
  pointer-events: none;
}

/*Button*/

.btn {
  font-family: "Aldrich";
  font-size: clamp(16px, 20px, 24px);
  border: 1px solid #e4572e;
  color: #e4572e;
  padding: 20px 100px;
}
.btn:hover {
  background-color: #e4572e;
  color: #191923;
  transition: all 0.7s ease-in;
}

/*Heading*/

.Heading .fir,
.sec {
  font-family: "Aldrich";
  font-size: clamp(56px, 60px, 0.3vw);
  font-weight: 900;
}

.Heading .fir {
  color: var(--light);
}
.Heading .sec {
  color: var(--light-dark);
}
