nav {
  text-decoration: none;
  margin: 20px 15vw;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav .row {
  background-color: #292929;
  border-radius: 16px;
  padding: 20px 0;
  margin: 0%;
  height: 70px;
}
nav .row .col {
  margin: 0%;
  padding: 0%;
}
nav img {
  height: 30px;
  padding: 0%;
  margin: 0%;
  color: black;
}

nav .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  opacity: 0;
  color: #fff8f0;
  position: relative;
  background-color: #535353;
  padding: 5px 0;
  border-radius: 12px;
  transition: transform 0.5s ease 0s;
}
nav .single:hover .name {
  opacity: 1;
  color: #fff8f0;
  transform: translateY(25px);
}
