nav {
  text-decoration: none;
  margin: 20px 15vw;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

nav .row {
  background-color: #292929;
  border-radius: 16px;
  padding: 20px 0;
  margin: 0%;
}
nav .row .col {
  margin: 0%;
  padding: 0%;
}
nav img {
  height: 30px;
  padding: 0%;
  margin: 0%;
  color: black;
}

nav .name {
  color: aliceblue;
}
nav .name:hover {
  color: #e4572e;
}
